@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=GFS+Didot&display=swap');

*, ::before ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    width: 900px;
    margin: auto;
    font-family: 'GFS Didot', 'Cormorant Garamond', serif;
}

/* ***** top ***** */

#leftTop {
    display: flex;
    background-color: rgb(152,203,0);
}

#image {
    background-color: rgb(152,203,0);
    height: 250px;
    width: 300px;
    text-align: center;
    padding-top: 40px;
}
/* ***** nom ***** */

#nom {
    background-color: rgb(34,51,67);
    width: 600px;
    height: 300px;
    font-size: 2rem;
    color: rgb(235, 240, 219);
    text-align: center;
    line-height: 200px;
}

/* ***** principal ***** */

#principal {
    display: flex;
    width: 900px;
}

.gras {
    height: 7px;
    font-weight: bold;
}

.penche {
    height: 7px;
    font-style: italic;
}

/* ***** banniere gauche ***** */

#left {
    background-color: rgb(34,51,67);
    width: 300px;
}

/* ***** banniere gauche haut ***** */

#bannerlefttop {
    background-color: rgb(152,203,0);
    position: relative;
    height: 370px;
    border-radius: 0px 0px 30px 0px;
}

.logoProfil {
    height: 60px;
    width: 300px;
    display: flex;
}

.logo {
    width: 40%;
    height: 60px;
    padding-left: 30px;
    text-align: center;
}

.titre1 {
    width: 60%;
    height: 60px;
}

h4 {
    position: absolute;
    margin: 20px 10px 10px 10px;
    text-align: justify;
}

/* ***** banniere gauche bas ***** */

a {
    color: rgb(235, 240, 219);
    text-decoration: none;
}

a:hover {
    background-color: rgb(152,203,0);
}

#bannerleftbottom {
    background-color: rgb(34,51,67);
    width: 300px;
    color: rgb(235, 240, 219);
}

.etatCivil {
    width: 300px;
    padding-top: 20px;
    text-align: center;
}

#tableau1, #tableau2, #tableau3, #tableau4 {
    width: 300px;
    padding-top: 20px;
}

.titre {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 10px;
}

th {
    padding-left: 20px;
}

td {
    text-align: right;
    padding-right: 20px;
}

.competences {
    width: 275px;
    padding: 0 15px;
}

#tableau4 {
    padding-bottom: 30px;
}

/* ***** historique ***** */

#historique {
    width: 600px;
}

h3 {
    font-size: 1.5rem;
}

#experience h3 {
    width: 350px;
    padding-top: 15px;
}

#experience {
    display: flex;
    height: 70px;
}

#experience .img {
    padding: 30px 50px;
}

#historiqueTexte, #formationTexte, #loisirsTexte {
    padding-left: 150px;
    color: rgb(34,51,67);
    font-size: 1.1rem;
}

#formation, #loisirs {
    display: flex;
    height: 50px;
    padding-top: 20px;
}

#formation .img {
    padding: 10px 50px;
}

#separation {
    height: 2px;
    width: 300px;
    text-align: left;
    background-color: rgb(34,51,67);
    box-shadow: 1px 3px 2px rgb(152,203,0);
}    

#loisirs .img {
    padding: 10px 50px;
}
